# Ignore local Python environment
.venv/
venv/
.env

# Ignore local database
db.sqlite3

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo

# Ignore model checkpoints and training outputs not needed in Git
bert_sota_toxicidade/
meu_bert_toxico/
resultados_mega_modelo/
resultados_treinamento/
bert_sota_toxicidade_v2/
resultados_sentimento/
meu_bert_sentimento/